body { 

	margin-top: 5px;
	height: 98%;
	background-color: white;
}

.mainText {  

}

.error_message {  
	font-style: normal;
	color: red;
	text-decoration: none;
}

.lineText {  
	font-style: normal;
	color: #666666;
	font-weight: bold;
	text-align: center;
}

.buttonText {  
	font-style: normal;
	color: #000000;
	text-decoration: underline;
	font-weight: normal
}
	
.width160 {
	width: 160px;
}

.width160Text {
	width: 160px;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	font-weight: normal
}

.width45Hidden {
	width: 45px;
	visibility: hidden;
}

.alignleft {
	text-align: left;
}

.alignRight {
	text-align: right;
}

.button_short {
	width: 75px;
}

.button_medium {
	width: 100px;
}

.button_long {
	width: 130px;
}


table.querytable  {
	background-color: white;
}

table.querytable * td {
	white-space:nowrap;
	border: 1px solid lightgrey;
	padding: 2px;
}

table.querytable thead {
	background-color: white;
	white-space:nowrap;
}

table.querytable * tr.selected {
	background-color: rgb(49, 106, 197);
}

table.querytable tr.selected td {
	color: white;
}

table.querytable * tr.hover {
	background-color: rgb(220,220,220);
}

table.querytable tr.hover td {
	color: black;
}

.full_width_no_top_margin {
	width:100%;
	margin-top: 0px;
}

.full_width_ten_top_margin {
	width:100%;
	margin-top: 10px;
}

.margin_left_ten {
	margin-left: 10px;	
}

.margin_left_ten_short {
	margin-left: 10px;
	width: 75px;
}

.margin_left_ten_long {
	margin-left: 10px;
	width: 130px;
}

.margin_top_five {
	margin-top: 5px;
}

.margin_top_twenty {
	margin-top: 20px;
}

.margin_bottom_five {
	margin-bottom: 5px;
}

.lbl_name {
	margin-left:6px;
	margin-right:5px;
}
