.blockerplus {
	background-image: url("loading.gif");
	background-repeat: no-repeat;
	background-position: center;
}

td,textarea,input,body,select {
	font-size: 11px;
	font-family: tahoma, verdana, arial;
}

td.mapinformation {
	width: 250px;
}

td.min {
	width: 51px;
}

td.top {
	vertical-align: top;
}

tr.min {
	height: 1px;
	min-height:20px;
}

tr.redlining {
	height: 1px;
	min-height:26px;
}
tr.redlining_map {
	
}
.twocoltablabel {
	width: 140px;
}

.twocoltab input,.twocoltab textarea,.twocoltab select,.twocoltab iframe {
	width: 160px;
	text-align: left;
}

th.header,td.header,.caption {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

.white {
	background: white;
}

.gray {
	background: #dddddd;
}

.background_menu {
	background-color: white;
	overflow: auto;
	border: 0px;
}

.background_color_menu {
	background-color: white;
}

.background_menu_no_scroll {
	background-color: white;
	overflow: hidden;
	border: 0px;
}

.background_menu_scrollable {
	background-color: white;
	overflow: auto;
}

.background_white {
	background-color: white;
}

.background_white_scrollable {
	background-color: white;
	overflow: auto;
}

.background_white_no_border_no_scroll {
	background-color: white;
	border: none;
	overflow: hidden;
}

.background_white_no_scroll {
	background-color: white;
	overflow: hidden;
}

.background_silver_no_scroll {
	background-color: silver;
	overflow: hidden;
}

.scrollable {
	overflow: auto;
}

.scrollable_white {
	overflow: auto;
	background-color: white;
}

.messages {
	color: red;
}

.biggerFont {
	font-size: 12px;
}

.smallfont {
	font-size: 9px;
}

.bold_font {
	font-weight: bold;
}

.red_bold_font {
	font-weight: bold;
	color: red;
}

.center_bold_font {
	font-weight:bold;
}

.center_font {
	text-align: center;
}

.half_width {
	width: 50%;
}

.full_width {
	width: 100%;
}

.full_width_no_border {
	width: 100%;
	border: none;
}

body.background_menu table.full_space {
	height:100%;
}

table.full_space {
	height: 100%;
	width: 100%;
	}
	
table.full_space tbody {
	height: 100%;
}

table.locator_full_space {
	height:100%;
	width:97%;
	margin: 0px 4px 0px 2px;
}

fieldset.full_space {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.full_space {
	width: 100%;
	height: 100%;
}

.full_space_redlining {
	height:100%;
	width: 100%;
	max-height:100%;
}

.redlining_map {
		
}
table.full_space_redlining tbody {
	width: 100%;
}

.full_space_scrollable {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.display_tree_border {
	border: 2px inset;
}

.no_border_no_margin {
	border: 0px;
	margin: 0px;
}

.visibility_hidden {
	visibility: hidden;
}

.visibility_hidden_full_width {
	visibility: hidden;
	width: 100%;
}

.visibility_hidden_no_width {
	visibility: hidden;
	width: 0px;
}

.login_body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;

	background: #fff;
	text-align: center;


	display: block;
}

.login_table {
	background-color: white;
	
	/* Centres the table below the image*/
	margin-left: auto;
	margin-right: auto;

	/* Pulls it into position over the image */
	position: relative;
	top: -160px;
	right: -160px;
	
	border: 1px solid #76B900;
	padding: 5px;

	width: 300px;		
	height: 90px;
}

.login_table tr {
	height: 1.2em;
	padding:0px; margin:0px;
}

.login_table td {
	text-align: left;
	color: black; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px ! important;

	padding:2px;
	margin:0px;	
}

.login_body form {
	padding: 0px; margin: 0px;	
}

.login_body img {
    padding: 0px; margin: 0px;
}

.btns_passwordchange1 {
	margin-left: 64px;
}
.btn_passwordchange {
	width: 100px;
}

.login_fail {
	color: #ee3324;
	font-weight: bold;
}

fieldset {
	-moz-border-radius: 10px;
	-webkit-border-radius: 8px;
	padding: 3px 4px 8px 4px;
}

legend {
	color: blue;
}

body.background_menu form {
	width: 100%;
}