tr.window_top {
	height: 30px;
}

tr.window_middle {
	
}

tr.window_bottom {
	height: 4px;
}

tr.window_middle td.left {
	width: 4px;
	background-image: url("window_middle_left.gif");
}

div.window_inactive tr.window_middle td.left {
	background-image: url("window_middle_left_inactive.gif");
}

tr.window_middle td.center {
	background-color: white;
}

tr.window_middle td.right {
	width: 4px;
	background-image: url("window_middle_right.gif");
}

div.window_inactive tr.window_middle td.right {
	background-image: url("window_middle_right_inactive.gif");
}

tr.window_bottom td.left {
	width: 4px;
	background-image: url("window_bottom_left.gif");
	line-height: 1px;
	font-size: 1px;
}

div.window_inactive tr.window_bottom td.left {
	background-image: url("window_bottom_left_inactive.gif");
}

tr.window_bottom td.center {
	background-image: url("window_bottom_center.gif");
	line-height: 1px;
	font-size: 1px;
}

div.window_inactive tr.window_bottom td.center {
	background-image: url("window_bottom_center_inactive.gif");
}

tr.window_bottom td.right {
	width: 4px;
	background-image: url("window_bottom_right.gif");
	line-height: 1px;
	font-size: 1px;
}

div.window_inactive tr.window_bottom td.right {
	background-image: url("window_bottom_right_inactive.gif");
}

table.window_title td.left {
	width: 5px;
	background-image: url("window_title_left.gif");
}

div.window_inactive table.window_title td.left {
	background-image: url("window_title_left_inactive.gif");
}

table.window_title td.icon {
	width: 0px;
	background-image: url("window_title_center.gif");
}

div.window_inactive table.window_title td.icon {
	background-image: url("window_title_center_inactive.gif");
}

table.window_title td.titlebar {
	width: 100%;
	background-image: url("window_title_center.gif");
}

td.titlebar div {
	width: 100%;
	height: 100%;
	font-size: 13px;
	font-family: tahoma, verdana, arial;
	font-weight: bold;
	color: white;
	text-align: left;
	vertical-align: middle;
	overflow: hidden;
	margin-top: 9px;
}

div.window_inactive table.window_title td.titlebar {
	background-image: url("window_title_center_inactive.gif");
}

table.window_title td.buttonbar {
	width: 0px;
	background-image: url("window_title_center.gif");
	text-align: right;
	white-space: nowrap;
}

div.window_inactive table.window_title td.buttonbar {
	background-image: url("window_title_center_inactive.gif");
}

table.window_title td.right {
	width: 5px;
	background-image: url("window_title_right.gif");
}

div.window_inactive table.window_title td.right {
	background-image: url("window_title_right_inactive.gif");
}

img.title_icon {
	
}

img.title_button {
	margin-top: 3px;
	display: inline;
}