div.measureflag {
	position: absolute;
}

div.measureflag img {
	z-index: 1;
}

div.measureflag div {
	position: absolute;
	color: white;
	width: 32px;
	height: 32px;
	left:0px;
	font-family: arial, helvetica;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	background-image: url("../../../themes/blind.gif");
	z-index: 2;
}