table.splitpanel {
	height:1px;
	border: none;
	overflow: hidden;
	background-color: white;
}
tr.none {
}


tr.none td.colLayout {
	min-height:100%;
}

tr.spatial_context {
	height:100%;
}	


tr.spatial_context_menu {
	height:26px !important;
	min-height:26px;
	max-height:26px;
}
			
div.splitpanel {
		height:1px;
}

td.element {
	border: none;
	overflow: hidden;
}
td.element_first {
	border: none;
	overflow: hidden;
}
td.element_second {
	border: none;
	overflow: hidden;
}
div.tabContent {
	height: 100%;
}

table.splitpanel td.vsplitter {
	width: 7px;
	border: outset 1px gray;
	cursor: w-resize;
}

/* In the following we use "font-size:1px" because we use "&nbsp;" 
   to force IE to create a border around an empty table cell
   but the height of the cell should be smaller than a character. */
table.splitpanel td.hsplitter {
	height: 7px;
	font-size: 1px;
	border: outset 1px gray;
	cursor: n-resize;
	text-align: center;
}

img.hsplitbutton {
	cursor: default;
}

img.vsplitbutton {
	cursor: default;
}

div.fullspace {
	background-image: url('../../../../themes/blind.gif');
}

div.split_vshadow_back {
	z-index: 1;
	display: none;
	width: 9px;
	height: 100%;
}

div.split_vshadow {
	z-index: 2;
	display: none;
	width: 9px;
	height: 100%;
	background-image: url('../../../../themes/blind.gif');
	background-color: gray;
}

div.split_hshadow_back {
	z-index: 1;
	display: none;
	height: 9px;
	width: 100%;
}

div.split_hshadow {
	z-index: 2;
	display: none;
	height: 9px;
	width: 100%;
	background-image: url('../../../../themes/blind.gif');
	background-color: gray;
}

div.splitdraglayer {
	z-index: 3;
	display: none;
	height: 100%;
	width: 100%;
	background-image: url('../../../../themes/blind.gif');
}

tr.tab_head {
	height: 24px;
	cursor: default;
	overflow: visible;
	-moz-box-sizing: border-box;
}

tr.tabbody {
	-moz-box-sizing: border-box;
}
td.tab_head {
	padding: 3px 0px 0px 0px;
	vertical-align: bottom;
	-moz-box-sizing: border-box;
	overflow: hidden;
}
div.tab_button_inactive {
	height: 22px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	display: inline;
	background: menu;
	font-family: tahoma,verdana,arial;
	font-size: 17px; 
	padding: 0px 0px 1px 0px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	border-left:1px none gray;
	margin: 0px 0px -3px 0px;
}
div.tab_button_active {
	height: 24px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	display: inline;
	font-family: tahoma,verdana,arial;
	font-size: 17px; 	
	border-bottom-color: white;
	border-top-width: 3px;
	border-right-width: 1px;
	border-top-color: rgb(255, 200, 60);
	border-right-color: gray;
	border-top-style: solid;
	border-right-style:solid;
	border-bottom: 1px solid gray;
	border-left:1px none gray;
	background: menu;
	padding: 0px 0px 1px 0px;
	margin: 0px 0px -3px 0px;
}

div.tab_box {
	border-top: 1px gray none;	
	margin: 0px 2px 0px 0px;
	background: menu;
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
}
	
tr.tabbody td {
	border-top: 1px solid gray;
}

iframe.tab_iframe {
	border: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;	
}
input.tab_button {
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	min-height: 18px;
	height: 18px;
	background: menu;	
	border: 0px;
    padding: 0px 4px 0px 5px;
}
.borderLayout {
	border: 0px none;
	padding: 0px;
	margin: 0px;
	height: 100%;
}
div.borderLayoutCenterBox {
	border: 0px none;
	padding: 0px;
	margin: 0px;
}
table.mxntable {
	cursor: default;	
}
table.mxntable * tr.selected {
	background-color: rgb(49,106,197);
}
table.mxntable * tr.hover{
	background-color: rgb(200,200,200);
}

.single_select {
	border: 1px outset;
	cursor: default;	
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
}

.single_select_active {
	border: 1px inset;
	cursor: default;	
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;	
}	
	
.middle_align {
	vertical-align: middle;
}

.background_silver_no_scroll {
	background-color: silver;
	overflow: hidden;
}
