div.dyntree {
	width: 100%;
	background-color: white;	
}
a {
	color: black; 
	text-decoration:none;
}

td {
	cursor: default;
}
td.tree_active {
   background-color: rgb(49, 106, 197);
	padding: 0px;
	margin: 0px;
}
td.tree_active a {
   color: rgb(255, 255, 255);
}
td.tree_inactive {
	color: gray;
}

td.folder {
	width : 16px;
}

td.otherimg {
	width : 24px;
}